name: API

env:
  TZ: Asia/Tokyo
  PYTHON_VERSION: "3.12"
  POETRY_VERSION: "1.8.3"

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/api.yml
      - api/**
  pull_request:
    paths:
      - .github/workflows/api.yml
      - api/**
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      db:
        image: mysql:8.0.30
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: goduploader_test
          MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    env:
      DB_URL: mysql+mysqlconnector://root@localhost:3306/goduploader_test
      MYSQL_USER: root
      MYSQL_HOST: localhost
      MYSQL_PORT: 3306
    steps:
      - uses: actions/checkout@v4

      # ref: api/Dockerfile
      - name: install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libjpeg-dev libwebp-dev imagemagick webp

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"
          cache-dependency-path: ./api/poetry.lock

      - uses: abatilo/actions-poetry@v3
        with:
          poetry-version: ${{ env.POETRY_VERSION }}

      - uses: actions/cache@v3
        with:
          path: api/.venv
          key: ${{ runner.os }}-${{ env.PYTHON_VERSION }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.PYTHON_VERSION }}-poetry-

      - run: poetry install
        working-directory: ./api

      - name: wait for mysql container to be ready
        run: ./script/wait-for-it.sh -h $MYSQL_HOST -p $MYSQL_PORT
        working-directory: ./api

      - run: poetry run pytest
        working-directory: ./api
        env:
          DB_URL: mysql+mysqlconnector://root@localhost:3306/goduploader_test

  test-sqlite3:
    runs-on: ubuntu-latest
    env:
      DB_URL: 'sqlite:///:memory:'
      USE_SQLITE: 'true'
    steps:
      - uses: actions/checkout@v4

      # ref: api/Dockerfile
      - name: install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libjpeg-dev libwebp-dev imagemagick webp

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"
          cache-dependency-path: ./api/poetry.lock

      - uses: abatilo/actions-poetry@v3
        with:
          poetry-version: ${{ env.POETRY_VERSION }}

      - uses: actions/cache@v3
        with:
          path: api/.venv
          key: ${{ runner.os }}-${{ env.PYTHON_VERSION }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.PYTHON_VERSION }}-poetry-

      - run: poetry install
        working-directory: ./api

      - run: poetry run pytest
        working-directory: ./api
        env:
          DB_URL: 'sqlite:///:memory:'
