name: Front

env:
  TZ: Asia/Tokyo

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/front.yml
      - front/**
  pull_request:
    paths:
      - .github/workflows/front.yml
      - front/**
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"
          cache-dependency-path: front/yarn.lock

      - run: yarn install --frozen-lockfile
        working-directory: ./front

      - run: yarn relay-compiler --validate
        working-directory: ./front

      - run: yarn run tsc --noEmit
        working-directory: ./front

      - run: yarn run eslint
        working-directory: ./front

      - run: yarn test
        working-directory: ./front
